@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --primary: #ff3700;
}
body {
    background: #000000;
    font-family: Inter, Arial, Helvetica, sans-serif;
}
.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url('../img/konoha-naruto.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: 0.5s;
}
.banner::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.content {
    position: relative;
    max-width: 550px;
    display: none;
    visibility: hidden;
    transform: scale(0);
    transition: 0.5s;
}
.content.active {
    display: block;
    visibility: visible;
    transform: scale(1);
    transition: 0.5s;
}
.univers-title {
    max-width: 250px;
}
.banner .content p {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5em;
    color: #ffffff;
    margin: 10px 0 20px;
}
.banner .content .button {
    position: relative;
}
.banner .content .button a {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    background: var(--primary);
    color: #ffffff;
    padding: 6px 20px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s;
    cursor: pointer;
}
.banner .content .button a:nth-child(3) {
    display: none;
}
.banner .content .button a:nth-child(2) {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.banner .content .button a:hover:nth-child(2) {
    background: var(--primary)
}
.banner .content .button a i.fa-heart-o {
    display: inline;
}
.banner .content .button a.active i.fa-heart {
    display: inline;
}
.banner .content .button a.active i.fa-heart-o {
    display: none;
}
.banner .carousel-box {
    position: relative;
    min-width: 620px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5) ;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
    border-radius: 10px;
}
.carousel {
    position: relative;
    height: 360px;
    perspective: 1500;
}
.carousel .carousel-item {
    width: 250px;
    cursor: pointer;
}
.carousel .carousel-item img {
    max-width: 200px;
    width: 75%;
    border-radius: 10px;
    transform: translateX(30px) translateY(-70px);
    object-fit: cover;
    object-position: center;
}
.sci {
    position: absolute;
    bottom: 50px;
    right: 30px;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    gap: 25px;
}
.sci a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 25px;
    transition: 0.3s;
    cursor: pointer;
}
@font-face {
    font-family: 'Croissant';
    src: url('YoungSerif-Regular.ttf') format(truetype);
    font-style: normal;
    font-weight: normal;
}
#cabecalho {
    font-family: Inter, Arial, Helvetica, sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0;
    z-index: 10;
}
 header .nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 3rem;
    align-items: center;
    width: 100%;
    background-color: transparent;
    /*o materializeque eu usei para o carousel acabou afetando o header e para impedir que ele altere eu fiz essa linha de codigo*/
    box-shadow: none;
}

/* Estilos para o título dentro do cabeçalho */
.logo{
    display: flex;
    align-items: center;
    padding: 0px 10px;
}
.logo h1{
    font-family: Croissant, Helvetica, sans-serif;
    font-size: 3vw;
    color: #ffffff;
}
.nav-list {
    display: flex;
    align-items: center;
    padding: 0px 10px;
}
.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;

}
.nav-item {
    margin: 0 15px;
}
.nav-link{
    text-decoration: none;
    font-size: 1.15rem;
    color: #ffffff;
    font-weight: 400;
}
.login-button {
    padding: 0px 10px;
}
.login-button button{
    border: none;
    background-color: #5745a0;
    padding: 10px 15px;
    border-radius: 5px;
}
.login-button button a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
}
/* Estilos para os links do menu quando o mouse passa por cima */
#cabecalho .nav-bar:hover li a {
    color: #ffffff;
}

/* Estilos para os links do menu quando o mouse passa por cima, exceto o link atualmente selecionado */
#cabecalho .nav-bar:hover li a:not(:hover) {
    color: white;
    opacity: 0.3;
    filter: blur(1px);
}
.mobile-menu-icon {
    display: none;
}
.mobile-menu {
    display: none;
}
header .nav-bar .search {
    position: relative;
    width: 340px;
    height: 30px;
    padding: 0px 10px;
}
header .nav-bar .search input {
    font-size: 13px;
    position: absolute;
    left: 0;
    top: 0;
    width: 94%;
    height: 2rem;
    color: #ffffff;
    background: transparent;
    border: 1 solid rgba(255, 255, 255, 0.5);
    outline: none;
    border-radius: 4px;
    padding: 0 10px 0 45px;
    backdrop-filter: blur(10px);

}
header .nav-bar .search input::placeholder {
    color: #ffffff;
    padding: 0 10px 0 45px;
}
header .nav-bar .search i {
    position: absolute;
    top: 19%;
    transform: translate(-50%);
    left: 30px;
    height: 20px;
    padding-right: 10px;
    color: #ffffff;
    border-right: 1px solid #ffffff;
}
@media screen and (max-width: 730px) {
    .nav-bar{
        padding: 1.5rem 4rem;
    }
    /*os nomes do menu vão sumir quando diminuir a tela*/
    .nav-item{
        display: none;
    }
    .login-button{
        display: none;
    }
    .mobile-menu-icon{
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;  
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
    /* Estilos para os links do menu quando o mouse passa por cima */
    .mobile-menu:hover li a {
        color: #ffffff;
    }

    /* Estilos para os links do menu quando o mouse passa por cima, exceto o link atualmente selecionado */
    .mobile-menu:hover li a:not(:hover) {
        color: white;
        opacity: 0.3;
        filter: blur(1px);
    }
}